h3 {{name | uppercase}}

.row
  .col-xs-4
    form(name='userForm', novalidate)
      .form-group
        label(for='email') Email
        input.form-control#email(type='email', name='email', ng-model='user.email')
      .form-group
        label(for='password') Password
        input.form-control#password(type='password', name='password', ng-model='user.password')
      .form-group
        button.btn.btn-default(type='submit', ng-click='submit(user)'): i.fa.fa-envelope
        button.btn.btn-info(ng-click='oauth("twitter")'): i.fa.fa-twitter
        button.btn.btn-warning(ng-click='oauth("google")'): i.fa.fa-google
  .col-xs-8
