h3 NEW PORTFOLIO

.row
  .col-xs-3
    h4 Portfolio Form
    form(name='portfolioForm', novalidate)
      .form-group
        label(for='name') Name
        input.form-control#name(type='text', name='name', ng-model='name')
      .form-group
        button.btn.btn-success(type='submit', ng-click='add(name)') Add Portfolio
  .col-xs-9
