h3 LIST PORTFOLIOS

.row
  .col-xs-3
    table.table.table-striped
      thead
        tr
          th Name
      tbody
        tr(ng-repeat='name in names')
          td: a(ui-sref='portfolios.show({name:name})') {{name}}
  .col-xs-9
